/*  JavaScript 7th Edition
    Chapter 8
    Hands-on Project 8-3

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 960px;
   background: white;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #5472B2;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
   margin-bottom: 0;
}


/*-------------------- Project Styles ------------------*/

section {
   background-color: #FFDB70;
   margin-top: 0;
   padding-bottom: 20px;
   user-select:none;
   height: 520px;
   position: relative;
}

section h1 {
   font-size: 2.8em;
   text-align: center;
   margin: 0;
   padding: 15px 0 10px;
}

input#getFile {
   display: block;
   width: 300px;
   margin: 0 auto;
   font-size: 0.95em;
}

div#container {
   width: 900px;
   height: 380px;
   margin: 10px auto;
   overflow:auto;
   padding: 10px;
}

div#container table {
   border-collapse: collapse;
   font-size: 0.8em;
}

div#container th, div#container td {
   border: 1px solid rgb(160, 160, 160);
   background-color: ivory;
   padding: 7px 5px;
}
div#container table th {
   color: ivory;
   background-color: rgb(160, 160, 160);
   text-align: center;
   font-weight: normal;
}

div#container table tr:nth-of-type(even) td {
   background-color:rgba(151,236,229,0.42);
}
div#container table tr td:first-of-type {
   white-space:nowrap;
}

div#container table tr td:last-of-type {
   white-space:nowrap;
}