/*  JavaScript 7th Edition
    Chapter 5
    Hands-on Project 5-4

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 960px;
   background: white;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #5472B2;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
}




/*-------------------- Project Styles ------------------*/

/* main content */
article {
   width: 960px;
   text-align: left;
   background: #FFDB70;
   padding-bottom: 20px;
}


article h2 {
   text-align: center;
   font-size: 1.3em;
   font-weight: bold;
   margin-bottom: 10px;
   padding-top: 10px;
}
article blockquote {
   font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
   column-count: 2;
   column-rule: 1px solid gray;
}

article blockquote h3 {
   font-weight: bold;
   font-size: 1.1em;
   margin: 0 0 5px 20px;
}

article blockquote p {
   line-height: 1.28;
   font-size: 0.85em;
   margin: 0 0 10px 20px;
}

article blockquote p dfn {
   color:#20A2D1;
   cursor: pointer;
   display: inline-block;
}

article blockquote p dfn:hover {
   text-decoration: underline;
}