/*  JavaScript 7th Edition
    Chapter 4
    Hands-on Project 4-3

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 960px;
   background: white;
   margin: 0 auto;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

/* page header */
header {
   background: #5472B2;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
}

/* main content */
article {
   width: 960px;
   height: 600px;
   text-align: left;
   background: #FFDB70;
   position: relative;
}

article h2 {
   font-weight: normal;
   font-size: 2em;
   padding: 20px 0 10px 0;
   text-align: center;
   margin: 0;
}

article textarea#comment {
   display: block;
   width: 75%; 
   margin: 10px auto;
   height: 350px; 
   padding: 15px; 
   text-align: left;
   font-size: 1.3em;
   border: 1px solid rgb(102, 51, 0);
}

div {
   width: 500px;
   margin-left: 12.5%;
}

div#warningBox {
   color: red;
   margin-top: 15px;
}